*
!.bash_aliases
!.bash_functions
!.bashrc
!.config/conky/conky.conf
!.config/dunst/dunstrc
!.config/i3/config
!.config/mpv/mpv.conf
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.config/sxiv/exec/key-handler
!.config/zathura/zathurarc
!.gitignore
!.profile
!.ssh/config
!.vimrc
!.xcolors/
!.Xdefaults
!.xinitrc
!bin/dunstify
